In [2]:
import pandas as pd

In [3]:
ler = pd.read_excel('STG_PGT.xlsx')

In [5]:
ler.head(10)

,ID_STG_PGT,VLR_PGT_FAT,DAT_VCT,COD_MDL,QTD_CLI_CAD_POS,QTD_PGT,ID_FNT_ITT,DES_TIP_PSS,DAT_RSS_FNT_ITT,DAT_INC_DBO
0,451,515711,16082022,A04,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
1,452,60763,26102020,A99,2,2,67,F,2020-01-16,2020-01-17 17:50:42.746
2,453,8588195,24022019,G01,22,22,67,F,2020-01-16,2020-01-17 17:50:42.746
3,454,369084,24062018,B99,16,23,67,F,2020-01-16,2020-01-17 17:50:42.746
4,455,13054,20022021,B99,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
5,456,1206954,4012018,A04,3,5,67,F,2020-01-16,2020-01-17 17:50:42.746
6,457,21684,24122018,B07,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
7,458,341157,27032016,B99,10,11,67,F,2020-01-16,2020-01-17 17:50:42.746
8,459,3929,21032018,B05,1,1,67,F,2020-01-16,2020-01-17 17:50:42.746
9,460,12700,28112018,A05,3,3,67,F,2020-01-16,2020-01-17 17:50:42.746

In [6]:
ler.dtypes

ID_STG_PGT          int64
VLR_PGT_FAT         int64
DAT_VCT             int64
COD_MDL            object
QTD_CLI_CAD_POS     int64
QTD_PGT             int64
ID_FNT_ITT          int64
DES_TIP_PSS        object
DAT_RSS_FNT_ITT    object
DAT_INC_DBO        object
dtype: object

In [9]:
ler['VLR_PGT_FAT'] = ler.VLR_PGT_FAT.astype('str')
ler['DAT_VCT'] = ler.DAT_VCT.astype('str')
ler['QTD_CLI_CAD_POS'] = ler.QTD_CLI_CAD_POS.astype('str')
ler['QTD_PGT'] = ler.QTD_PGT.astype('str')

In [10]:
ler.dtypes

ID_STG_PGT          int64
VLR_PGT_FAT        object
DAT_VCT            object
COD_MDL            object
QTD_CLI_CAD_POS    object
QTD_PGT            object
ID_FNT_ITT          int64
DES_TIP_PSS        object
DAT_RSS_FNT_ITT    object
DAT_INC_DBO        object
DTA_VCT            object
dtype: object

In [11]:
ler.to_csv('stg_pgt.csv', index=False, header=True)